/* =========================================
   FONT FACES
========================================= */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/assets/fonts/inter.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/assets/fonts/inter-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/assets/fonts/roboto-condensed.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/assets/fonts/roboto-condensed-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/assets/fonts/inconsolata-light.woff2') format('woff2');
}
@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/inconsolata-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/assets/fonts/inconsolata-medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/assets/fonts/inconsolata-semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'Covered By Your Grace';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/handwriting-covered-by-your-grace.woff2') format('woff2');
}

@font-face {
    font-family: 'Nanum Pen Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/handwriting-nanum-pen-script.woff2') format('woff2');
}

@font-face {
    font-family: 'Thinker';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/handwriting-thinker.woff2) format('woff2');
}
